# Auto detect text files and perform LF normalization by default
* text=auto

# Text files we want to always be normalized and converted
# to native line endings on checkout
*.html text
*.css text
*.js text
*.txt text
*.php text
*.md text

# Files that should not be modified
*.png binary
*.jpg binary
*.jpeg binary
*.ico binary
*.gif binary
*.svg binary
*.pdf binary
*.zip binary
*.woff binary
*.tar binary
*.gz binary
*.7z binary